<!--主页-->
<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>Amaze UI Admin index Examples</title>
    <link rel="stylesheet" href="../static/css/amazeui.min.css"/>
    <link rel="stylesheet" href="../static/css/admin.css">
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/app.js"></script>
    <script src="../static/js/polyfill/rem.min.js"></script>
    <script src="../static/js/polyfill/respond.min.js"></script>
    <script src="../static/js/amazeui.legacy.js"></script>
    <script src="../static/js/amazeui.min.js"></script>
    <style>
        .content1 {
            width: 80%;
            background: white;
            height: 200px;
            border: 1px solid white;
            margin-top: 50px;
            margin-left: 12px;
            border-radius: 8px;
        }
    </style>
</head>
<body>
<% include include/main.html %>


<div class="admin">
    <div class="content" >
        <div class="content1">
            <h1>系统公告</h1>

            <hr>
            <div class="content2">
                <h2>活动公告</h2>
                <p>本店1元洗车活动即将开启，敬请期待...</p>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">
    jQuery(".sideMenu").slide({
        titCell: "h3", //鼠标触发对象
        targetCell: "ul", //与titCell一一对应，第n个titCell控制第n个targetCell的显示隐藏
        effect: "slideDown", //targetCell下拉效果
        delayTime: 300, //效果时间
        triggerTime: 150, //鼠标延迟触发时间（默认150）
        defaultPlay:false,//默认是否执行效果（默认true）
        returnDefault:true //鼠标从.sideMen移走后返回默认状态（默认false）
    });
</script>
</body>
</html>


