<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/stylesheets/about_our.css">

</head>
<body>
<div>
    <a href="home_page.html">返回首页 ></a>
</div>
<div class="info_our">
    <h1>关于我们</h1>
    <p>电话：4009-010-873</p>
    <p>手机：13932780541</p>
    <p>QQ：952033039</p>
    <p>邮箱：Sales@buyer.com</p>
    <p>地址：江苏省连云港市东海县和平西路26号</p>
</div>
<div class="exit">
    <form>
        <input type="button" value="退出登录">
    </form>
</div>
</body>
</html>