<!--未完成订单-->
<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>Amaze UI Admin index Examples</title>
    <link rel="stylesheet" href="../static/css/amazeui.min.css"/>
    <link rel="stylesheet" href="../static/css/admin.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/app.js"></script>
    <script src="../static/js/polyfill/rem.min.js"></script>
    <script src="../static/js/polyfill/respond.min.js"></script>
    <script src="../static/js/amazeui.legacy.js"></script>
    <script src="../static/js/amazeui.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
</head>
<body>
<% include include/main.html %>

<div class="admin">
    <div class="table-responsiv userlist">
        <table class="table table-hover" id="table_result">
            <thead>
            <tr>
                <th>用户名</th>
                <th>联系方式</th>
                <th>预约时间</th>
                <th>服务类型</th>
                <th>服务项目</th>
                <th>是否完成</th>
            </tr>
            </thead>
            <tbody>
            <tr id="last">
            </tr>
            </tbody>
        </table>
    </div>

</div>
<script type="text/javascript">
    jQuery(".sideMenu").slide({
        titCell: "h3", //鼠标触发对象
        targetCell: "ul", //与titCell一一对应，第n个titCell控制第n个targetCell的显示隐藏
        effect: "slideDown", //targetCell下拉效果
        delayTime: 300, //效果时间
        triggerTime: 150, //鼠标延迟触发时间（默认150）
        defaultPlay:false,//默认是否执行效果（默认true）
        returnDefault:true //鼠标从.sideMen移走后返回默认状态（默认false）
    });
</script>
<script>
    var table = document.getElementById("table_result");
    var last = document.getElementById("last");
    var id;
    $(function () {
        $.getJSON('/get_order_info_wash', function (result) {
        });

        $.getJSON('/get_order_info_beauty', function (result) {
        });
    });
    function wash() {
        $.getJSON('/get_order_info_wash', function (result) {
            var list = result.name;
            for (var i = 0; i < list.length; i++) {
                var newTr = table.insertRow();
                var newTd0 = newTr.insertCell();
                var newTd1 = newTr.insertCell();
                var newTd2 = newTr.insertCell();
                var newTd3 = newTr.insertCell();
                var newTd4 = newTr.insertCell();
                var newTd5 = newTr.insertCell();

                newTd0.innerText = list[i].phone;
                newTd1.innerText = list[i].contact;
                newTd2.innerText = list[i].pre_date;
                newTd3.innerText = list[i].type;
                newTd4.innerText = "洗车";
                newTd5.innerHTML = '<input type="button" class="" value="完成" onclick="clic()"/>';
            }
            clic();

            function clic() {
                var bs = document.getElementsByTagName("input");
                for (var i = 0; i < bs.length; i++) {
                    var b = bs[i];
                    b.setAttribute("aa", i);
                    b.onclick = function () {
                        id = list[this.getAttribute("aa")].id;
                        $.getJSON('/finish_wash_car', {id: id},function (result) {
                        });
                    };
                }

            }
            beauty();
        });
    }
    function beauty() {
        $.getJSON('/get_order_info_beauty', function (result) {
            var list = result.name;
            for (var i = 0; i < list.length; i++) {
                var newTr = table.insertRow();
                var newTd0 = newTr.insertCell();
                var newTd1 = newTr.insertCell();
                var newTd2 = newTr.insertCell();
                var newTd3 = newTr.insertCell();
                var newTd4 = newTr.insertCell();
                var newTd5 = newTr.insertCell();

                newTd0.innerText = list[i].phone;
                newTd1.innerText = list[i].contact;
                newTd2.innerText = list[i].pre_date;
                newTd3.innerText = list[i].type;
                newTd4.innerText = "汽车美容";
                newTd5.innerHTML = '<button>完成</button>';
            }
            c();
            function c() {
                var bs = document.getElementsByTagName("button");
                for (var i = 0; i < bs.length; i++) {
                    var b = bs[i];
                    b.setAttribute("aa", i);
                    b.onclick = function () {
                        id = list[this.getAttribute("aa")].id;
                        $.getJSON('/finish_beauty', {id: id},function (result) {
                        });
                    };
                }

            }
        });
    }


    setTimeout("wash()", 500);
</script>
</body>
</html>


