<header class="am-topbar admin-header" >
    <div class="am-topbar-brand">
        <img src="../../static/images/logo.png">
        <i class="am-icon-user am-icon-fw" style="float: right"></i>
    </div>
</header>
<div class="am-cf admin-main">
    <div class="nav-navicon admin-main admin-sidebar">
        <div class="sideMenu am-icon-dashboard" style="color:#aeb2b7; margin: 10px 0 0 0;font-size: 20px"> 欢迎系统管理员</div>
        <div class="sideMenu">
            <h3 class="am-icon-windows"><em></em> <a href="../index.html">首页</a></h3>
            <ul>
            </ul>
            <h3 class="am-icon-flag"><em></em> <a href="#">客户管理</a></h3>
            <ul>
                <li><a href="../user.html">全部客户</a></li>
                <li><a href="../order.html">预约客户</a></li>
            </ul>
            <h3 class="am-icon-adjust"><em></em> <a href="#"> 服务项目</a></h3>
            <ul>
                <li><a href="../user_wash.html">洗车</a></li>
                <li><a href="../user_beauty.html">汽车美容</a></li>
            </ul>
            <h3 class="am-icon-cart-plus"><em></em> <a href="#"> 订单管理</a></h3>
            <ul>
                <li><a href="../order_form_all.html">全部订单</a></li>
                <li><a href="../order_form_some.html">未完成的订单</a></li>
            </ul>
            <h3 class="am-icon-archive"><em></em> <a href="#"> 财务管理</a></h3>
            <ul>
                <li><a href="../bill.html">全部账单</a></li>
                <li><a href="../earnest.html">未结账</a></li>
            </ul>
        </div>

    </div>
</div>